:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container{
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img{
  display: block;
}

/* Header */

.header{
  border-bottom: 1px solid #e7e9fc;
}

.header-wrap{
  display: flex;
}

.header-navigation{
  display: flex;
  align-items: center;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px
}

.header-logo-studio {
  color: #2e2f42;
  font-family: "Raleway" sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-menu-list{
  display: flex;
  gap: 40px;
}


.header-link {
  color: var(--navyblue, #2e2f42);
  /* Body Medium */
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list{
  display: flex;
  gap: 40px;
}

.address-list-link {
  color: var(--slate, #434455);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}

/* Board */

.board {
  background: var(--navyblue, #2e2f42);
  padding-top: 188px;
  padding-bottom: 188px;
}

.board-name {
}

h1 {
  color: var(--white, #fff);
  text-align: center;
  /* Header 1 */
  font-family: "Roboto" sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
}

.board-btn {
  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

}

.board-btn:hover,
.board-btn:focus {
  background-color: #404bbf;
}

/* Advantages Section */

.advantages{
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-list{
  display: flex;
  gap: 24px;
}

.advantages-list-item{
  width: calc((100% - 3 * 24px) / 4);
  margin: 0; 
  padding-left: 0;
}

.advantages-name {
  color: var(--navyblue, #2e2f42);
  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.advantages-text {
  color: var(--slate, #434455);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.visually-hidden{
  position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

/* Hero Section */

.hero {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero-topic {
  background-color: #F4F4FD;
  color: var(--navyblue, #2e2f42);
  text-align: center;
  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.hero-list{
  display: flex;
  gap: 24px;
}

.hero-list-item {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.person{
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero-name {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px
}

.hero-position {
  color: var(--slate, #434455);
  text-align: center;
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;

}

/* Work Section */

.work{
  padding-top: 120px;
  padding-bottom: 120px;
}

.work-topic{
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 72px;
}

.work-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.work-list-item{
  width: calc((100% - 48px) / 3);
  margin: 0; 
  padding-left: 0;
}

.work-name{
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}

.work-department{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
}

.work-wrap{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* Footer */

.footer {
  background: var(--navyblue, #2e2f42);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-studio {
  color: #f4f4fd;
  font-family: "Raleway" sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: var(--cloud, #f4f4fd);
  /* Body */
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* ---------------------------PORTFOLIO------------------- */

/* Filter */

.portfolio-list {
}

.portfolio-list-item {
}

.portfolio-list-btn {
  /* Button Text */
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  background: #f4f4fd;
  color: #4d5ae5;
}

/* Project Card */

.card {
}

.card-list {
}

.card-list-item {
}

.portfolio-list-btn:hover,
.portfolio-list-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}

.portfolio-list-btn {
  font-family: "Roboto", sans-serif;
}

.card-list-name {
  color: var(--navyblue, #2e2f42);
  /* Header 3 */
  font-family: "Roboto" sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.card-list-shawl {
  color: var(--slate, #434455);
  /* Body */
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
